.flows.json.backup
[
    {
        "id": "781e2d3a48b04110",
        "type": "tab",
        "label": "_maintenance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40f5e7c72cdecaab",
        "type": "tab",
        "label": "testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca185c1af81e0a09",
        "type": "ccu-connection",
        "name": "hm01",
        "host": "192.168.20.8",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": true,
        "virtEnabled": false,
        "bcwiEnabled": false,
        "cuxdEnabled": true,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "",
        "rpcServerHost": "192.168.20.68",
        "rpcBinPort": "2048",
        "rpcXmlPort": "2049",
        "tls": false,
        "inSecure": false,
        "authentication": false,
        "username": "",
        "password": "",
        "queueTimeout": "5000",
        "queuePause": "250",
        "contextStore": ""
    },
    {
        "id": "a027d6719b272f0f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxDb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "38ec287f.814568",
        "type": "exec",
        "z": "781e2d3a48b04110",
        "command": "sudo ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "System Command",
        "x": 390,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7487d790.49c368",
        "type": "inject",
        "z": "781e2d3a48b04110",
        "name": "Restart node-RED",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "node-red-restart",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "38ec287f.814568"
            ]
        ]
    },
    {
        "id": "fb03b353.5250f",
        "type": "comment",
        "z": "781e2d3a48b04110",
        "name": "NodeRed restart",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "7248a9ca24edbde3",
        "type": "uibuilder",
        "z": "40f5e7c72cdecaab",
        "name": "home",
        "topic": "",
        "url": "home",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "vue",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.0.0",
        "showMsgUib": false,
        "x": 320,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dc507aa303d8f07a",
        "type": "ccu-rpc-event",
        "z": "40f5e7c72cdecaab",
        "name": "",
        "iface": "",
        "ccuConfig": "ca185c1af81e0a09",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "",
        "datapointRx": "str",
        "change": true,
        "working": false,
        "cache": false,
        "topic": "${CCU}/${Interface}/${channelName}/${datapoint}",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "17525801781a0516",
                "58fd7081e276ba97"
            ]
        ]
    },
    {
        "id": "08c58347de41adad",
        "type": "debug",
        "z": "40f5e7c72cdecaab",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "81204cec10cc59fa",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "ccu/deviceName/datapoint",
        "info": "",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "17525801781a0516",
        "type": "function",
        "z": "40f5e7c72cdecaab",
        "name": "Transform",
        "func": "return {\n    payload: msg.payload,\n    topic: \"hm01/\"+msg.deviceName+\"/\"+msg.datapoint,\n    channelType: msg.channelType,\n    deviceType: msg.deviceType};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "58fd7081e276ba97",
        "type": "debug",
        "z": "40f5e7c72cdecaab",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "de481c3603347ea4",
        "type": "influxdb in",
        "z": "40f5e7c72cdecaab",
        "influxdb": "a027d6719b272f0f",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 880,
        "y": 420,
        "wires": [
            []
        ]
    }
]