flows.json
[
    {
        "id": "781e2d3a48b04110",
        "type": "tab",
        "label": "_maintenance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1c0c9780ef1442c",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40f5e7c72cdecaab",
        "type": "tab",
        "label": "HM",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eda35aea761e62ca",
        "type": "tab",
        "label": "EV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "16d854753ce10409",
        "type": "tab",
        "label": "PowerMan",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a8d304c950302af",
        "type": "tab",
        "label": "HUE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0287b86.19f57",
        "type": "subflow",
        "name": "espCO2",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 60,
                "wires": [
                    {
                        "id": "1e50977d.ae26e1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 200,
                "wires": [
                    {
                        "id": "fd009eb7.af3b9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Id",
                "type": "str",
                "value": ""
            },
            {
                "name": "co2calib",
                "type": "env",
                "value": "${Id}/switch/co2calib/command"
            },
            {
                "name": "co2",
                "type": "env",
                "value": "${Id}/sensor/co2/state"
            },
            {
                "name": "co2warn",
                "type": "env",
                "value": "${Id}/switch/co2warn/state"
            },
            {
                "name": "co2high",
                "type": "env",
                "value": "${Id}/switch/co2high/state"
            },
            {
                "name": "status",
                "type": "str",
                "value": "${Id}/status"
            },
            {
                "name": "Topic",
                "type": "env",
                "value": "${Id}"
            }
        ],
        "color": "#DDAA99",
        "status": {
            "x": 900,
            "y": 140,
            "wires": [
                {
                    "id": "7fecd248.2f2544",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ca185c1af81e0a09",
        "type": "ccu-connection",
        "name": "hm00",
        "host": "192.168.20.8",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": true,
        "virtEnabled": false,
        "bcwiEnabled": false,
        "cuxdEnabled": true,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "",
        "rpcServerHost": "192.168.20.17",
        "rpcBinPort": "2048",
        "rpcXmlPort": "2049",
        "tls": false,
        "inSecure": false,
        "authentication": false,
        "username": "",
        "password": "",
        "queueTimeout": "5000",
        "queuePause": "250",
        "contextStore": ""
    },
    {
        "id": "1e1a0e45bfb2abe0",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "25b4ae1f.f6e792",
        "type": "mqtt-broker",
        "name": "openWB",
        "broker": "192.168.20.14",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7e9912ee.546204",
        "type": "modbus-client",
        "name": "SE-Gartenhaus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.20.16",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "78b1c87b.391bc8",
        "type": "modbus-client",
        "name": "SE-Dach",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "192.168.20.13",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 20000,
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "6be926ebebb69961",
        "type": "ccu-connection",
        "name": "hm02",
        "host": "192.168.20.7",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": true,
        "virtEnabled": false,
        "bcwiEnabled": false,
        "cuxdEnabled": true,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "",
        "rpcServerHost": "192.168.20.17",
        "rpcBinPort": "2050",
        "rpcXmlPort": "2051",
        "tls": false,
        "inSecure": false,
        "authentication": false,
        "username": "",
        "password": "",
        "queueTimeout": "5000",
        "queuePause": "250",
        "contextStore": ""
    },
    {
        "id": "5cdf4104.dd067",
        "type": "mqtt-broker",
        "name": "nodered",
        "broker": "192.168.20.12",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f08c81db3cddc150",
        "type": "hue-bridge",
        "name": "Philips hue",
        "bridge": "192.168.20.9",
        "key": "3gEgzVYstYBUi7VNjHLhtw2lqGWVJZmNUzbnCn1u",
        "worker": "10",
        "autoupdates": true,
        "disableupdates": false
    },
    {
        "id": "b818fe83.218c38",
        "type": "mqtt out",
        "z": "d0287b86.19f57",
        "name": "",
        "topic": "${co2calib}",
        "qos": "",
        "retain": "",
        "broker": "5cdf4104.dd067",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "1e50977d.ae26e1",
        "type": "function",
        "z": "d0287b86.19f57",
        "name": "Calib ON",
        "func": "msg.payload = \"ON\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "b818fe83.218c38"
            ]
        ]
    },
    {
        "id": "48c5e2e1.aab36c",
        "type": "mqtt in",
        "z": "d0287b86.19f57",
        "name": "",
        "topic": "${co2}",
        "qos": "2",
        "datatype": "auto",
        "broker": "5cdf4104.dd067",
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "392d6626.612b7a"
            ]
        ]
    },
    {
        "id": "7fecd248.2f2544",
        "type": "function",
        "z": "d0287b86.19f57",
        "name": "set status OK",
        "func": "msg.payload = {fill: \"green\", text: msg.payload + \"ppm\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bd8124f5.bdcbe8",
        "type": "mqtt in",
        "z": "d0287b86.19f57",
        "name": "",
        "topic": "${co2warn}",
        "qos": "2",
        "datatype": "auto",
        "broker": "5cdf4104.dd067",
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "b18ce971.ecfcf"
            ]
        ]
    },
    {
        "id": "9b3f9cf6.ba5738",
        "type": "mqtt in",
        "z": "d0287b86.19f57",
        "name": "",
        "topic": "${co2high}",
        "qos": "2",
        "datatype": "auto",
        "broker": "5cdf4104.dd067",
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "470dd2d2.a24f74"
            ]
        ]
    },
    {
        "id": "fd009eb7.af3b9",
        "type": "function",
        "z": "d0287b86.19f57",
        "name": "",
        "func": "var name = env.get(\"Topic\") || \"NA\";\nvar status = flow.get(\"status\") || \"online\";\nvar co2 = flow.get(\"co2\")*1 || 400;\nvar co2warn = flow.get(\"co2warn\") || \"OFF\";\nvar co2high = flow.get(\"co2high\") || \"OFF\";\n\nvar newMsg = { topic: name, payload: {co2 : co2, level: \"low\", status: status } }\n\nif(co2warn == \"ON\") { newMsg.payload.level = \"warn\" }\nif(co2high == \"ON\") { newMsg.payload.level = \"high\" }\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "392d6626.612b7a",
        "type": "function",
        "z": "d0287b86.19f57",
        "name": "flow.co2",
        "func": "flow.set(\"co2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "7fecd248.2f2544",
                "fd009eb7.af3b9"
            ]
        ]
    },
    {
        "id": "b18ce971.ecfcf",
        "type": "function",
        "z": "d0287b86.19f57",
        "name": "flow.co2warn",
        "func": "flow.set(\"co2warn\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "fd009eb7.af3b9"
            ]
        ]
    },
    {
        "id": "470dd2d2.a24f74",
        "type": "function",
        "z": "d0287b86.19f57",
        "name": "flow.co2high",
        "func": "flow.set(\"co2high\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "fd009eb7.af3b9"
            ]
        ]
    },
    {
        "id": "4745cd45.dc30fc",
        "type": "mqtt in",
        "z": "d0287b86.19f57",
        "name": "",
        "topic": "${status}",
        "qos": "2",
        "datatype": "auto",
        "broker": "5cdf4104.dd067",
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "dcf4d2a5.d2c72"
            ]
        ]
    },
    {
        "id": "dcf4d2a5.d2c72",
        "type": "function",
        "z": "d0287b86.19f57",
        "name": "flow.co2high",
        "func": "flow.set(\"status\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "fd009eb7.af3b9"
            ]
        ]
    },
    {
        "id": "38ec287f.814568",
        "type": "exec",
        "z": "781e2d3a48b04110",
        "command": "sudo ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "System Command",
        "x": 390,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7487d790.49c368",
        "type": "inject",
        "z": "781e2d3a48b04110",
        "name": "Restart node-RED",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "node-red-restart",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "38ec287f.814568"
            ]
        ]
    },
    {
        "id": "fb03b353.5250f",
        "type": "comment",
        "z": "781e2d3a48b04110",
        "name": "NodeRed restart",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "fc24ab83960a00e0",
        "type": "uibuilder",
        "z": "e1c0c9780ef1442c",
        "name": "",
        "topic": "",
        "url": "home",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "svelte-basic",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "dist",
        "deployedVersion": "6.0.0",
        "showMsgUib": false,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e281cdb2d1a7f260"
            ],
            [
                "3283e680.04337a"
            ]
        ]
    },
    {
        "id": "e281cdb2d1a7f260",
        "type": "debug",
        "z": "e1c0c9780ef1442c",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "7435b7ddab5d9d58",
        "type": "comment",
        "z": "e1c0c9780ef1442c",
        "name": "!!! How to develop the UI --> Details",
        "info": "Docs: http://192.168.20.17:1880/uibuilder/techdocs/#/svelte\n\n(1) open console and login\n(2) navigate to ~/.node-red/projects/stHome/uibuilder/home\n(3) execute: npm run dev",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "5817b2f6.8024bc",
        "type": "change",
        "z": "e1c0c9780ef1442c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "RoomHeatChg",
                "tot": "global"
            },
            {
                "t": "delete",
                "p": "uibuilderCtrl",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "b0595157eb15f6ba"
            ]
        ]
    },
    {
        "id": "3283e680.04337a",
        "type": "switch",
        "z": "e1c0c9780ef1442c",
        "name": "ui ctrl",
        "property": "uibuilderCtrl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "client connect",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ready for content",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "5817b2f6.8024bc"
            ],
            [
                "5817b2f6.8024bc"
            ],
            [
                "6dded821.4040c8"
            ]
        ]
    },
    {
        "id": "6dded821.4040c8",
        "type": "debug",
        "z": "e1c0c9780ef1442c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "07bbeebdbba51021",
        "type": "comment",
        "z": "e1c0c9780ef1442c",
        "name": "Send data on re-connect",
        "info": "",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "b0595157eb15f6ba",
        "type": "link out",
        "z": "e1c0c9780ef1442c",
        "name": "ui_client_connect",
        "mode": "link",
        "links": [
            "7e459f7597b25f7a",
            "a0b69e2a0299aac9",
            "7fb445d726a4195f",
            "4254b51be531da74"
        ],
        "x": 725,
        "y": 220,
        "wires": []
    },
    {
        "id": "7a2f080c754d5aae",
        "type": "uib-sender",
        "z": "e1c0c9780ef1442c",
        "url": "home",
        "name": "",
        "topic": "",
        "passthrough": false,
        "return": false,
        "outputs": 0,
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "a3eca86f26a147a9",
        "type": "inject",
        "z": "e1c0c9780ef1442c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "504faa687aa090c8"
            ]
        ]
    },
    {
        "id": "504faa687aa090c8",
        "type": "influxdb in",
        "z": "e1c0c9780ef1442c",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "query": "from(bucket: \"homematic\")\n  |> range(start: -8h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"ACTUAL_TEMPERATURE\" or r[\"_measurement\"] == \"HUMIDITY\" or r[\"_measurement\"] == \"TEMPERATURE\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "f0bac037c693c79e"
            ]
        ]
    },
    {
        "id": "f0bac037c693c79e",
        "type": "change",
        "z": "e1c0c9780ef1442c",
        "name": "indb/homematic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "indb/homematic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "7a2f080c754d5aae",
                "e8719c1a52c90712"
            ]
        ]
    },
    {
        "id": "e8719c1a52c90712",
        "type": "debug",
        "z": "e1c0c9780ef1442c",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e459f7597b25f7a",
        "type": "link in",
        "z": "e1c0c9780ef1442c",
        "name": "link in 1",
        "links": [
            "b0595157eb15f6ba"
        ],
        "x": 125,
        "y": 540,
        "wires": [
            [
                "504faa687aa090c8"
            ]
        ]
    },
    {
        "id": "53bc2ba72735bec3",
        "type": "comment",
        "z": "e1c0c9780ef1442c",
        "name": "Send Temp and Humi",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "483e0105c1db5394",
        "type": "uib-sender",
        "z": "e1c0c9780ef1442c",
        "url": "home",
        "name": "",
        "topic": "",
        "passthrough": false,
        "return": false,
        "outputs": 0,
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "5bdb3e673b3a1a32",
        "type": "inject",
        "z": "e1c0c9780ef1442c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "58049fb082e4b034"
            ]
        ]
    },
    {
        "id": "58049fb082e4b034",
        "type": "influxdb in",
        "z": "e1c0c9780ef1442c",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "query": "from(bucket: \"homematic\")\n  |> range(start: -7d)\n  |> filter(fn: (r) => r[\"name\"] == \"00-Flur-Licht\" or r[\"name\"] == \"00-Treppe-Licht\" or r[\"name\"] == \"00-Wohn-Licht\")\n  |> filter(fn: (r) => r[\"_measurement\"] == \"LEVEL\" or r[\"_measurement\"] == \"STATE\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "b9a64d1573623abb"
            ]
        ]
    },
    {
        "id": "b9a64d1573623abb",
        "type": "change",
        "z": "e1c0c9780ef1442c",
        "name": "indb/homematic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "indb/homematic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 700,
        "wires": [
            [
                "483e0105c1db5394",
                "6ce7bb4638b16d39"
            ]
        ]
    },
    {
        "id": "6ce7bb4638b16d39",
        "type": "debug",
        "z": "e1c0c9780ef1442c",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "a0b69e2a0299aac9",
        "type": "link in",
        "z": "e1c0c9780ef1442c",
        "name": "link in 2",
        "links": [
            "16f623084ab3c45c",
            "b0595157eb15f6ba"
        ],
        "x": 165,
        "y": 760,
        "wires": [
            [
                "58049fb082e4b034"
            ]
        ]
    },
    {
        "id": "7135dcb9800f8115",
        "type": "comment",
        "z": "e1c0c9780ef1442c",
        "name": "Send Status HM Lights",
        "info": "",
        "x": 140,
        "y": 640,
        "wires": []
    },
    {
        "id": "fa8f8e0e04df3c58",
        "type": "inject",
        "z": "e1c0c9780ef1442c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "ed143ab96e5059a6"
            ]
        ]
    },
    {
        "id": "ed143ab96e5059a6",
        "type": "influxdb in",
        "z": "e1c0c9780ef1442c",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "query": "from(bucket: \"hue\")\n  |> range(start: -7d)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"light\")\n  |> pivot(rowKey:[\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")\n  |> last(column: \"name\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 350,
        "y": 900,
        "wires": [
            [
                "09d5df95de815567"
            ]
        ]
    },
    {
        "id": "09d5df95de815567",
        "type": "change",
        "z": "e1c0c9780ef1442c",
        "name": "indb/homematic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "indb/hue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 900,
        "wires": [
            [
                "43173c319c8f0761",
                "4c9d27e2675408dc"
            ]
        ]
    },
    {
        "id": "4c9d27e2675408dc",
        "type": "uib-sender",
        "z": "e1c0c9780ef1442c",
        "url": "home",
        "name": "",
        "topic": "",
        "passthrough": false,
        "return": false,
        "outputs": 0,
        "x": 830,
        "y": 900,
        "wires": []
    },
    {
        "id": "43173c319c8f0761",
        "type": "debug",
        "z": "e1c0c9780ef1442c",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 980,
        "wires": []
    },
    {
        "id": "4254b51be531da74",
        "type": "link in",
        "z": "e1c0c9780ef1442c",
        "name": "link in 3",
        "links": [
            "b0595157eb15f6ba",
            "f6e0cdc821022ed9",
            "ad23091c1b4b008a"
        ],
        "x": 165,
        "y": 960,
        "wires": [
            [
                "ed143ab96e5059a6"
            ]
        ]
    },
    {
        "id": "892f62584a0d87b2",
        "type": "comment",
        "z": "e1c0c9780ef1442c",
        "name": "Send Status HUE Lights",
        "info": "",
        "x": 150,
        "y": 840,
        "wires": []
    },
    {
        "id": "08c58347de41adad",
        "type": "debug",
        "z": "40f5e7c72cdecaab",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "81204cec10cc59fa",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "ccu/deviceName/datapoint",
        "info": "",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "17525801781a0516",
        "type": "function",
        "z": "40f5e7c72cdecaab",
        "name": "Transform",
        "func": "return {\n    topic: \"hm00/\" + msg.deviceName + \"/\" + msg.datapoint,\n    payload: msg.payload,\n    ccu : \"hm00\",\n    name: msg.deviceName,\n    datapoint: msg.datapoint,\n    channelType: msg.channelType,\n    deviceType: msg.deviceType};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "adc5300179c0cf6a"
            ]
        ]
    },
    {
        "id": "58fd7081e276ba97",
        "type": "debug",
        "z": "40f5e7c72cdecaab",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc507aa303d8f07a",
        "type": "ccu-rpc-event",
        "z": "40f5e7c72cdecaab",
        "name": "",
        "iface": "",
        "ccuConfig": "ca185c1af81e0a09",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "",
        "datapointRx": "str",
        "change": true,
        "working": false,
        "cache": false,
        "topic": "${CCU}/${Interface}/${channelName}/${datapoint}",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "17525801781a0516",
                "58fd7081e276ba97"
            ]
        ]
    },
    {
        "id": "1bca9db95a3587df",
        "type": "influxdb out",
        "z": "40f5e7c72cdecaab",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "stHome",
        "bucket": "homematic",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "763919f3816edf8e",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "db insert command",
        "info": "",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "adc5300179c0cf6a",
        "type": "function",
        "z": "40f5e7c72cdecaab",
        "name": "hm trg switch/dimmer",
        "func": "var inMsg = {\n    measurement: msg.datapoint,\n    payload :\n    [{\n// fields\n        value: msg.payload\n    },\n    {\n// tags\n        ccu: msg.ccu,\n        type: msg.deviceType,\n        name: msg.name,\n        channelType: msg.channelType\n    }]\n}\n\nif (msg.channelType == \"SWITCH\" || msg.channelType == \"DIMMER\")\n{\n    var trg = {\n        topic: \"homematic/trigger/\" + msg.channelType,\n        payload: msg.channelType,\n        type : \"trigger\"\n    }\n    return [inMsg, trg];\n}\n\nreturn [inMsg, null];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "08c58347de41adad",
                "1bca9db95a3587df"
            ],
            [
                "ef9dcf1673702e72"
            ]
        ]
    },
    {
        "id": "b7c2c4ed945b8842",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "hm01",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "f439ff717cfe10d8",
        "type": "debug",
        "z": "40f5e7c72cdecaab",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b5395dfa58057544",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "ccu/deviceName/datapoint",
        "info": "",
        "x": 330,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b433994a3f70550e",
        "type": "function",
        "z": "40f5e7c72cdecaab",
        "name": "Transform",
        "func": "return {\n    topic: \"hm02/\" + msg.deviceName + \"/\" + msg.datapoint,\n    payload: msg.payload,\n    ccu : \"hm02\",\n    name: msg.deviceName,\n    datapoint: msg.datapoint,\n    channelType: msg.channelType,\n    deviceType: msg.deviceType};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1160,
        "wires": [
            [
                "c9670ffa43cfaa1a"
            ]
        ]
    },
    {
        "id": "0d4f5f6d6b9bb5bc",
        "type": "debug",
        "z": "40f5e7c72cdecaab",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5a0dcc7d8875c10e",
        "type": "ccu-rpc-event",
        "z": "40f5e7c72cdecaab",
        "name": "",
        "iface": "",
        "ccuConfig": "6be926ebebb69961",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "",
        "datapointRx": "str",
        "change": true,
        "working": false,
        "cache": false,
        "topic": "${CCU}/${Interface}/${channelName}/${datapoint}",
        "x": 100,
        "y": 1160,
        "wires": [
            [
                "b433994a3f70550e",
                "0d4f5f6d6b9bb5bc"
            ]
        ]
    },
    {
        "id": "d41f98057e8efe63",
        "type": "influxdb out",
        "z": "40f5e7c72cdecaab",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "stHome",
        "bucket": "homematic",
        "x": 870,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b1e44a5dac46367e",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "db insert command",
        "info": "",
        "x": 570,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c9670ffa43cfaa1a",
        "type": "function",
        "z": "40f5e7c72cdecaab",
        "name": "function 2",
        "func": "var inMsg = {\n    measurement: msg.datapoint,\n    payload :\n    [{\n// fields\n        value: msg.payload\n    },\n    {\n// tags\n        ccu: msg.ccu,\n        type: msg.deviceType,\n        name: msg.name,\n        channelType: msg.channelType\n    }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1160,
        "wires": [
            [
                "f439ff717cfe10d8",
                "d41f98057e8efe63"
            ]
        ]
    },
    {
        "id": "c6b7dca43779fd8c",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "hm02",
        "info": "",
        "x": 90,
        "y": 1080,
        "wires": []
    },
    {
        "id": "015806c6b825f34f",
        "type": "ccu-sysvar",
        "z": "40f5e7c72cdecaab",
        "name": "System.Building.Mode",
        "ccuConfig": "ca185c1af81e0a09",
        "topic": "ReGaHSS/${Name}",
        "change": true,
        "cache": true,
        "x": 140,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8b02e8f4.68c08",
        "type": "ccu-sysvar",
        "z": "40f5e7c72cdecaab",
        "name": "System.Presence",
        "ccuConfig": "ca185c1af81e0a09",
        "topic": "hm00/${Name}",
        "change": true,
        "cache": true,
        "x": 130,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "28764797.9e911",
        "type": "ccu-sysvar",
        "z": "40f5e7c72cdecaab",
        "name": "00-Outdoor-Pyrano-Diff:Avg",
        "ccuConfig": "ca185c1af81e0a09",
        "topic": "hm00/${Name}",
        "change": true,
        "cache": true,
        "x": 160,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "19a16d9205d63763",
        "type": "debug",
        "z": "40f5e7c72cdecaab",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "ef9dcf1673702e72",
        "type": "delay",
        "z": "40f5e7c72cdecaab",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 260,
        "wires": [
            [
                "16f623084ab3c45c",
                "19a16d9205d63763"
            ]
        ]
    },
    {
        "id": "16f623084ab3c45c",
        "type": "link out",
        "z": "40f5e7c72cdecaab",
        "name": "hm_trg_switch_dimmer",
        "mode": "link",
        "links": [
            "a0b69e2a0299aac9"
        ],
        "x": 1195,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e0cb46b2bd0891f",
        "type": "comment",
        "z": "40f5e7c72cdecaab",
        "name": "Trigger Switch / Dimmer",
        "info": "",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "b941877f.c738b8",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "Mode",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "faea28f7.f59ef8",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "0=Sofort, 1=Min+PV, 2=PV, 3=Stop, 4=Standby",
        "info": "",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "98b9695d.a10238",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/global/ChargeMode",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "8f9a7c28e4b76e19"
            ]
        ]
    },
    {
        "id": "cfc49c92.355e6",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/config/get/pv/priorityModeEVBattery",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "03c802a55cc00d42"
            ]
        ]
    },
    {
        "id": "8f9a7c28e4b76e19",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "Transform",
        "func": "var cMode = msg.payload * 1;\nvar cmMode = \"Stop\";\nif (cMode === 0) { cmMode = \"Sofort\" }\nif (cMode === 1) { cmMode = \"Mini+PV\" }\nif (cMode === 2) { cmMode = \"PV\" }\nif (cMode === 3) { cmMode = \"Stop\" }\nif (cMode === 4) { cmMode = \"Standby\" }\n\nvar inMsg = {\n    measurement: \"chargeMode\",\n    payload:\n        [{\n            // fields\n            value: cMode,\n        },\n        {\n            // tags\n            type: \"openWB\",\n            group: \"wallbox\",\n            lp: 1,\n            valueN: cmMode\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "4baded220266cd06"
            ]
        ]
    },
    {
        "id": "4baded220266cd06",
        "type": "influxdb out",
        "z": "eda35aea761e62ca",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "stHome",
        "bucket": "ev",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "03c802a55cc00d42",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "Transform",
        "func": "var cMode = msg.payload * 1;\nvar cmMode = \"Battery\";\nif (cMode === 0) { cmMode = \"Battery\" }\nif (cMode === 1) { cmMode = \"Car\" }\n\nvar inMsg = {\n    measurement: \"priorityModeEVBattery\",\n    payload:\n        [{\n            // fields\n            value: cMode,\n        },\n        {\n            // tags\n            type: \"openWB\",\n            group: \"wallbox\",\n            name: \"priorityModeEVBattery\",\n            lp: 1,\n            valueN: cmMode\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "4baded220266cd06"
            ]
        ]
    },
    {
        "id": "97d4e952.42ff7",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/boolPlugStat",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "b5dd78b133116ebb"
            ]
        ]
    },
    {
        "id": "7cdb89e4.c626f8",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "LP 1",
        "info": "",
        "x": 90,
        "y": 340,
        "wires": []
    },
    {
        "id": "969ea805.4712b",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/ChargePointEnabled",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "872f4374027e6c37"
            ]
        ]
    },
    {
        "id": "bc5a1df2.ed2c6",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/W",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 120,
        "y": 620,
        "wires": [
            [
                "a8c82aedb2179bab"
            ]
        ]
    },
    {
        "id": "77de4e7c.005e7",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/ChargeStatus",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "1dd693d40e769231"
            ]
        ]
    },
    {
        "id": "8a891ff.74ccf6",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/kWhDailyCharged",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "dee88783f6941872"
            ]
        ]
    },
    {
        "id": "8ef260b7.8e29a",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/config/get/sofort/lp/1/current",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "67b5be6db5ab08ac"
            ]
        ]
    },
    {
        "id": "ab7f6dbc.dc8108",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/AConfigured",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 150,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "799d7fd2.c6df4",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/%Soc",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "e43319bbf297a9cc"
            ]
        ]
    },
    {
        "id": "62b6b174.a61c2",
        "type": "mqtt in",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/lp/1/socFaultState",
        "qos": "2",
        "datatype": "auto",
        "broker": "25b4ae1f.f6e792",
        "inputs": 0,
        "x": 150,
        "y": 860,
        "wires": [
            [
                "f03fa9bb0ab4fa65"
            ]
        ]
    },
    {
        "id": "174cd797435d7af6",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: msg.topic,\n    payload:\n        [{\n            // fields\n            value: msg.payload * 1,\n        },\n        {\n            // tags\n            type: \"openWB\",\n            group: \"wallbox\",\n            lp: 1\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 380,
        "wires": [
            [
                "4baded220266cd06"
            ]
        ]
    },
    {
        "id": "b5dd78b133116ebb",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "plugState",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "plugState",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "174cd797435d7af6"
            ]
        ]
    },
    {
        "id": "872f4374027e6c37",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "chargePointEnabled",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chargePointEnabled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "174cd797435d7af6"
            ]
        ]
    },
    {
        "id": "1dd693d40e769231",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "chargeStatus",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chargeStatus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "174cd797435d7af6"
            ]
        ]
    },
    {
        "id": "a8c82aedb2179bab",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: \"currentPower\",\n    payload:\n        [{\n            // fields\n            value: (msg.payload / 1000).toFixed(2),\n        },\n        {\n            // tags\n            type: \"openWB\",\n            group: \"wallbox\",\n            lp: 1,\n            unit: \"kWh\"\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 620,
        "wires": [
            [
                "4baded220266cd06"
            ]
        ]
    },
    {
        "id": "dee88783f6941872",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: \"powerDailyCharged\",\n    payload:\n        [{\n            // fields\n            value: msg.payload/1000,\n        },\n        {\n            // tags\n            type: \"openWB\",\n            group: \"wallbox\",\n            lp: 1,\n            unit: \"kWh\"\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 560,
        "wires": [
            [
                "4baded220266cd06"
            ]
        ]
    },
    {
        "id": "67b5be6db5ab08ac",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "currentInModeNow",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "currentInModeNow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "174cd797435d7af6"
            ]
        ]
    },
    {
        "id": "1645d60a4bb9c83a",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: msg.topic,\n    payload:\n        [{\n            // fields\n            value: msg.payload*1,\n        },\n        {\n            // tags\n            type: \"smartEQ\",\n            group: \"car\",\n            number: 1\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 800,
        "wires": [
            [
                "4baded220266cd06"
            ]
        ]
    },
    {
        "id": "e43319bbf297a9cc",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "carSoc",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "carSoc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "1645d60a4bb9c83a"
            ]
        ]
    },
    {
        "id": "f03fa9bb0ab4fa65",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "carSocFaultState",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "carSocFaultState",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "1645d60a4bb9c83a"
            ]
        ]
    },
    {
        "id": "a1d4b2a2.c40f5",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "Reset NightPlan",
        "info": "",
        "x": 120,
        "y": 980,
        "wires": []
    },
    {
        "id": "f6a9501b.71959",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "c9db06e6.8dfe2"
            ]
        ]
    },
    {
        "id": "e1edcaa2.5c0ed8",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "PV",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1080,
        "wires": [
            [
                "c9db06e6.8dfe2"
            ]
        ]
    },
    {
        "id": "a24f8b94.8417f",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "Sofort",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1140,
        "wires": [
            [
                "c9db06e6.8dfe2"
            ]
        ]
    },
    {
        "id": "c9db06e6.8dfe2",
        "type": "mqtt out",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/set/ChargeMode",
        "qos": "",
        "retain": "",
        "broker": "25b4ae1f.f6e792",
        "x": 1310,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5432d8cb.a853c8",
        "type": "cronplus",
        "z": "eda35aea761e62ca",
        "name": "",
        "outputField": "payload",
        "timeZone": "Europe/Berlin",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 30 7 * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "f6a9501b.71959"
            ]
        ]
    },
    {
        "id": "d6da8519.083a7",
        "type": "cronplus",
        "z": "eda35aea761e62ca",
        "name": "",
        "outputField": "payload",
        "timeZone": "Europe/Berlin",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 31 7 * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "e1edcaa2.5c0ed8",
                "0553801f7759e3df"
            ]
        ]
    },
    {
        "id": "d44740d6608a5244",
        "type": "mqtt out",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/config/set/sofort/lp/1/current",
        "qos": "",
        "retain": "",
        "broker": "25b4ae1f.f6e792",
        "x": 1350,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0553801f7759e3df",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "8A",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1220,
        "wires": [
            [
                "d44740d6608a5244"
            ]
        ]
    },
    {
        "id": "7904bcad6605e926",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "16A",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "16",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1260,
        "wires": [
            [
                "d44740d6608a5244"
            ]
        ]
    },
    {
        "id": "b2a08f5c1617f513",
        "type": "mqtt out",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/config/set/sofort/lp/1/chargeLimitation",
        "qos": "",
        "retain": "",
        "broker": "25b4ae1f.f6e792",
        "x": 1380,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8323fb8551540846",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "0 = none 1 = Energiemenge 2 = EV-SoC",
        "info": "0 = none\n1 = Energiemenge\n2 = EV-SoC",
        "x": 1360,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b4558168fdde509a",
        "type": "mqtt out",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/config/set/sofort/lp/1/socToChargeTo",
        "qos": "",
        "retain": "",
        "broker": "25b4ae1f.f6e792",
        "x": 1380,
        "y": 1520,
        "wires": []
    },
    {
        "id": "076a40fb1f85059d",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "SOC = 75%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "75",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1520,
        "wires": [
            [
                "b4558168fdde509a"
            ]
        ]
    },
    {
        "id": "62ee48c2362f4fd8",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "None",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1380,
        "wires": [
            [
                "b2a08f5c1617f513"
            ]
        ]
    },
    {
        "id": "aa8b5ca684d7bf49",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "EV-SoC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1420,
        "wires": [
            [
                "b2a08f5c1617f513"
            ]
        ]
    },
    {
        "id": "badf80d98ca28d2f",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "Energy",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1760,
        "wires": [
            [
                "b2a08f5c1617f513"
            ]
        ]
    },
    {
        "id": "ee2628cd97611584",
        "type": "mqtt out",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "openWB/config/set/sofort/lp/1/energyToCharge",
        "qos": "",
        "retain": "",
        "broker": "25b4ae1f.f6e792",
        "x": 1380,
        "y": 1820,
        "wires": []
    },
    {
        "id": "41d3d89ae35d1bc7",
        "type": "change",
        "z": "eda35aea761e62ca",
        "name": "Energy=6 kWh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1820,
        "wires": [
            [
                "ee2628cd97611584"
            ]
        ]
    },
    {
        "id": "5ea714c36d0b07b8",
        "type": "influxdb in",
        "z": "eda35aea761e62ca",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "00-Outdoor-Temp.vNorth:Temperature",
        "query": "from(bucket: \"homematic\")\n  |> range(start: -5h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"TEMPERATURE\")\n  |> filter(fn: (r) => r[\"name\"] == \"00-Outdoor-Temp.vNorth\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "b9a70645.25553"
            ]
        ]
    },
    {
        "id": "d85b387ddbde7469",
        "type": "cronplus",
        "z": "eda35aea761e62ca",
        "name": "",
        "outputField": "payload",
        "timeZone": "Europe/Berlin",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 00 7 * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 1380,
        "wires": [
            [
                "5ea714c36d0b07b8"
            ]
        ]
    },
    {
        "id": "b9a70645.25553",
        "type": "switch",
        "z": "eda35aea761e62ca",
        "name": "",
        "property": "payload[0]._value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 1380,
        "wires": [
            [
                "a24f8b94.8417f",
                "0553801f7759e3df",
                "62ee48c2362f4fd8"
            ]
        ]
    },
    {
        "id": "2e65c677545e55bf",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "EV Conditioning",
        "info": "",
        "x": 140,
        "y": 1340,
        "wires": []
    },
    {
        "id": "42f1e37ac6f7459e",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "Charge SOC",
        "info": "",
        "x": 130,
        "y": 1480,
        "wires": []
    },
    {
        "id": "c95b662a00ae1739",
        "type": "influxdb in",
        "z": "eda35aea761e62ca",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "socFaultState",
        "query": "from(bucket: \"ev\")\n  |> range(start: -5h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"carSocFaultState\")\n  |> filter(fn: (r) => r[\"type\"] == \"smartEQ\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 320,
        "y": 1540,
        "wires": [
            [
                "fc699d50d6a9aabb"
            ]
        ]
    },
    {
        "id": "fd02639b9aefa1dd",
        "type": "cronplus",
        "z": "eda35aea761e62ca",
        "name": "",
        "outputField": "payload",
        "timeZone": "Europe/Berlin",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 00 6 * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 1540,
        "wires": [
            [
                "c95b662a00ae1739"
            ]
        ]
    },
    {
        "id": "fc699d50d6a9aabb",
        "type": "switch",
        "z": "eda35aea761e62ca",
        "name": "",
        "property": "payload[0]._value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 1540,
        "wires": [
            [
                "a24f8b94.8417f",
                "aa8b5ca684d7bf49",
                "076a40fb1f85059d",
                "7904bcad6605e926"
            ],
            [
                "a24f8b94.8417f",
                "badf80d98ca28d2f",
                "41d3d89ae35d1bc7",
                "7904bcad6605e926"
            ]
        ]
    },
    {
        "id": "3a279a63d5b73b35",
        "type": "comment",
        "z": "eda35aea761e62ca",
        "name": "Pass values to wallbox",
        "info": "",
        "x": 160,
        "y": 2020,
        "wires": []
    },
    {
        "id": "fe3402e4e8dc65db",
        "type": "influxdb in",
        "z": "eda35aea761e62ca",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "query": "from(bucket: \"powerMan\")\n  |> range(start: -1h)\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 390,
        "y": 2080,
        "wires": [
            [
                "7ff69c831ff6d77d"
            ]
        ]
    },
    {
        "id": "299e291c4e203802",
        "type": "inject",
        "z": "eda35aea761e62ca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "25",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2080,
        "wires": [
            [
                "fe3402e4e8dc65db"
            ]
        ]
    },
    {
        "id": "7ff69c831ff6d77d",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "Find data in result",
        "func": "var ret = {};\nret.payload = {};\n\nvar solarPower = 0;\n\nmsg.payload.forEach(el => {\n\n    if(el.type === \"battery\"){\n        if(el._measurement === \"soc\") { ret.payload[\"openWB/set/houseBattery/%Soc\"] = el._value }\n        if (el._measurement === \"ac_Power\") { ret.payload[\"openWB/set/houseBattery/W\"] = el._value*(-1000) }\n    }\n\n    if (el.type === \"evu-meter\" && el.instance === \"1\" && el.location === \"basement\") {\n        if (el._measurement === \"ac_Voltage_AN\") { ret.payload[\"openWB/set/evu/VPhase1\"] = el._value }\n        if (el._measurement === \"ac_Voltage_BN\") { ret.payload[\"openWB/set/evu/VPhase2\"] = el._value }\n        if (el._measurement === \"ac_Voltage_CN\") { ret.payload[\"openWB/set/evu/VPhase3\"] = el._value }\n        if (el._measurement === \"ac_Current_A\") { ret.payload[\"openWB/set/evu/APhase1\"] = el._value }\n        if (el._measurement === \"ac_Current_B\") { ret.payload[\"openWB/set/evu/APhase2\"] = el._value }\n        if (el._measurement === \"ac_Current_C\") { ret.payload[\"openWB/set/evu/APhase3\"] = el._value }\n        if (el._measurement === \"ac_Power_A\") { ret.payload[\"openWB/evu/WPhase1\"] = el._value*1000 }\n        if (el._measurement === \"ac_Power_B\") { ret.payload[\"openWB/evu/WPhase2\"] = el._value*1000 }\n        if (el._measurement === \"ac_Power_C\") { ret.payload[\"openWB/evu/WPhase3\"] = el._value*1000 }\n        if (el._measurement === \"ac_Freq\") { ret.payload[\"openWB/set/evu/HzFrequenz\"] = el._value }\n        if (el._measurement === \"ac_PF_A\") { ret.payload[\"openWB/evu/PfPhase1\"] = el._value }\n        if (el._measurement === \"ac_PF_B\") { ret.payload[\"openWB/evu/PfPhase2\"] = el._value }\n        if (el._measurement === \"ac_PF_C\") { ret.payload[\"openWB/evu/PfPhase3\"] = el._value }\n        if (el._measurement === \"ac_Power\") { ret.payload[\"openWB/set/evu/W\"] = el._value*(1000) }\n    }\n\n    if(el.type === \"inverter\"){\n        if (el._measurement === \"ac_Power\") { solarPower = solarPower + (el._value * 1000) }\n    }\n\n})\n\nret.payload[\"openWB/set/pv/1/W\"] = solarPower;\n\nreturn [ret, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2080,
        "wires": [
            [
                "e9f78dd6.fd1e5",
                "d32058da1d1a72d7"
            ],
            [
                "f752732d9861cebe"
            ]
        ]
    },
    {
        "id": "d32058da1d1a72d7",
        "type": "debug",
        "z": "eda35aea761e62ca",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 2160,
        "wires": []
    },
    {
        "id": "e9f78dd6.fd1e5",
        "type": "split",
        "z": "eda35aea761e62ca",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 970,
        "y": 2080,
        "wires": [
            [
                "cd19f4f5.e9f1e"
            ]
        ]
    },
    {
        "id": "cd19f4f5.e9f1e",
        "type": "function",
        "z": "eda35aea761e62ca",
        "name": "add topic",
        "func": "msg.topic = msg.parts.key\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 2080,
        "wires": [
            [
                "37b732c9.8cdfb6"
            ]
        ]
    },
    {
        "id": "37b732c9.8cdfb6",
        "type": "rbe",
        "z": "eda35aea761e62ca",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1270,
        "y": 2080,
        "wires": [
            [
                "5a4fcb90.c10b84"
            ]
        ]
    },
    {
        "id": "5a4fcb90.c10b84",
        "type": "mqtt out",
        "z": "eda35aea761e62ca",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25b4ae1f.f6e792",
        "x": 1420,
        "y": 2080,
        "wires": []
    },
    {
        "id": "f752732d9861cebe",
        "type": "debug",
        "z": "eda35aea761e62ca",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 2200,
        "wires": []
    },
    {
        "id": "ba1fed775a9a4167",
        "type": "comment",
        "z": "16d854753ce10409",
        "name": "WR Gartenhaus",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "33449a937d186c07",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "mod -> JSON",
        "func": "// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\n\nvar col = { \ntopic: \"seCal\",\npayload: [\n    {k: 'ac_Power', v: round(int16(40084) * scalefactor(40085) / 1000, 2)}, //I_AC_Power\n    {k: 'dc_Power', v: round(int16(40101) * scalefactor(40102) / 1000, 2)}  // I_DC_Power\n]}\n\nreturn col;\n\nfunction word(address) {\n    // Find the correct offset in bytes\n    // 40070 is the starting address we fetch from SolarEdge inverter\n    return (address-40084) * 2;\n}\n\nfunction scalefactor(address) {\n    return Math.pow(10, buf.readInt16BE(word(address)));\n}\n\nfunction int16(address) {\n    return buf.readInt16BE(word(address))\n}\n\nfunction uint16(address) {\n    return buf.readUInt16BE(word(address));\n}\n\nfunction int32(address) {\n    return buf.readInt32BE(word(address))\n}\n\nfunction uint32(address) {\n    return buf.readUInt32BE(word(address))\n}\n\nfunction round(value, decimals) {\n return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 560,
        "wires": [
            [
                "ffcb42308459e88d"
            ]
        ]
    },
    {
        "id": "ffcb42308459e88d",
        "type": "split",
        "z": "16d854753ce10409",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "b8859a467c0a5dda"
            ]
        ]
    },
    {
        "id": "b8859a467c0a5dda",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: msg.payload.k,\n    payload:\n        [{\n            // fields\n            value: msg.payload.v,\n        },\n        {\n            // tags\n            vendor: \"solaredge\",\n            group: \"pv\",\n            location: \"shelter\",\n            type: \"inverter\",\n            instance: 2\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 560,
        "wires": [
            [
                "7da1c7bf5f0d6c09",
                "38413cfbad00b12d"
            ]
        ]
    },
    {
        "id": "7da1c7bf5f0d6c09",
        "type": "debug",
        "z": "16d854753ce10409",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 560,
        "wires": []
    },
    {
        "id": "38413cfbad00b12d",
        "type": "influxdb out",
        "z": "16d854753ce10409",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "stHome",
        "bucket": "powerMan",
        "x": 1570,
        "y": 160,
        "wires": []
    },
    {
        "id": "f61f19d0.2a7438",
        "type": "comment",
        "z": "16d854753ce10409",
        "name": "Fetch Solaredge TCP modbus data",
        "info": "zsdfzsdfg",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "fa527835.e14da",
        "type": "comment",
        "z": "16d854753ce10409",
        "name": "WR Dach",
        "info": "",
        "x": 100,
        "y": 100,
        "wires": []
    },
    {
        "id": "6602d1b7.b24d78",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "mod -> JSON",
        "func": "// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\n\nvar col = {\n    topic: \"seCal\",\n    payload: [\n        { k: 'ac_PowerReal', v: round(int16(40084) * scalefactor(40085) / 1000, 2) },\n        //{ k: 'dc_Power', v: round(int16(40101) * scalefactor(40102) / 1000, 2) }\n        // solar power will be calculated dc/ac-solar = inv_ac_Power - bat_dc_Power\n    ]\n}\nreturn col;\n\nfunction word(address) {\n    // Find the correct offset in bytes\n    // 40070 is the starting address we fetch from SolarEdge inverter\n    return (address-40084) * 2;\n}\n\nfunction scalefactor(address) {\n    return Math.pow(10, buf.readInt16BE(word(address)));\n}\n\nfunction int16(address) {\n    return buf.readInt16BE(word(address))\n}\n\nfunction uint16(address) {\n    return buf.readUInt16BE(word(address));\n}\n\nfunction int32(address) {\n    return buf.readInt32BE(word(address))\n}\n\nfunction uint32(address) {\n    return buf.readUInt32BE(word(address))\n}\n\nfunction round(value, decimals) {\n return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "f181a24885a1a36e"
            ]
        ]
    },
    {
        "id": "a987abfaf067f0d7",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "mod -> JSON",
        "func": "// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\n\nvar col = {\n    topic: \"seCal\",\n    payload: [\n        { k: 'ac_Current', v: round(int16(40191) * scalefactor(40195), 2) },\n        { k: 'ac_Current_A', v: round(int16(40192) * scalefactor(40195), 2) },\n        { k: 'ac_Current_B', v: round(int16(40193) * scalefactor(40195), 2)},\n        { k: 'ac_Current_C', v: round(int16(40194) * scalefactor(40195), 2)},\n        { k: 'ac_Voltage_AN', v: round(int16(40197) * scalefactor(40204), 2)},\n        { k: 'ac_Voltage_BN', v: round(int16(40198) * scalefactor(40204), 2)},\n        { k: 'ac_Voltage_CN', v: round(int16(40199) * scalefactor(40204), 2)},\n        { k: 'ac_Power', v: round(int16(40207) * scalefactor(40211) / (-1000), 2)},\n        { k: 'ac_Power_A', v: round(int16(40208) * scalefactor(40211) / (-1000), 2)},\n        { k: 'ac_Power_B', v: round(int16(40209) * scalefactor(40211) / (-1000), 2)},\n        { k: 'ac_Power_C', v: round(int16(40210) * scalefactor(40211) / (-1000), 2)},\n        { k: 'ac_Freq', v: round(int16(40205) * scalefactor(40206), 2)},\n        { k: 'ac_PF', v: round(int16(40222) * scalefactor(40226) / 100, 2)},\n        { k: 'ac_PF_A', v: round(int16(40223) * scalefactor(40226) / 100, 2)},\n        { k: 'ac_PF_B', v: round(int16(40224) * scalefactor(40226) / 100, 2)},\n        { k: 'ac_PF_C', v: round(int16(40225) * scalefactor(40226) / 100, 2)},\n        { k: 'ac_VAR', v: round(int16(40217) * scalefactor(40221) / 1000, 2)},\n        { k: 'ac_VAR_A', v: round(int16(40218) * scalefactor(40221) / 1000, 2)},\n        { k: 'ac_VAR_B', v: round(int16(40219) * scalefactor(40221) / 1000, 2)},\n        { k: 'ac_VAR_C', v: round(int16(40220) * scalefactor(40221) / 1000, 2)},\n\n    ]\n}\n\nreturn col;\n\nfunction word(address) {\n    // Find the correct offset in bytes\n    // 40070 is the starting address we fetch from SolarEdge inverter\n    return (address-40191) * 2;\n}\n\nfunction scalefactor(address) {\n    return Math.pow(10, buf.readInt16BE(word(address)));\n}\n\nfunction int16(address) {\n    return buf.readInt16BE(word(address))\n}\n\nfunction uint16(address) {\n    return buf.readUInt16BE(word(address));\n}\n\nfunction int32(address) {\n    return buf.readInt32BE(word(address))\n}\n\nfunction uint32(address) {\n    return buf.readUInt32BE(word(address))\n}\n\nfunction round(value, decimals) {\n return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 220,
        "wires": [
            [
                "12aeaa3bea1f97e8"
            ]
        ]
    },
    {
        "id": "f181a24885a1a36e",
        "type": "split",
        "z": "16d854753ce10409",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "e24f2cd6249335ab"
            ]
        ]
    },
    {
        "id": "e24f2cd6249335ab",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: msg.payload.k,\n    payload:\n        [{\n            // fields\n            value: msg.payload.v,\n        },\n        {\n            // tags\n            vendor: \"solaredge\",\n            group: \"pv\",\n            location: \"roof\",\n            type: \"inverter\",\n            instance: 1\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 160,
        "wires": [
            [
                "38413cfbad00b12d",
                "6094442647f33163"
            ]
        ]
    },
    {
        "id": "12aeaa3bea1f97e8",
        "type": "split",
        "z": "16d854753ce10409",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "e3a479f13f237931"
            ]
        ]
    },
    {
        "id": "6094442647f33163",
        "type": "debug",
        "z": "16d854753ce10409",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 80,
        "wires": []
    },
    {
        "id": "f5bd18124162dace",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "mod -> JSON",
        "func": "// Create new Buffer based on array bytes\n// source: https://www.photovoltaikforum.com/thread/120980-akkustand-per-modbus-tcp-auslesen-solaredge-lg-resu-10h/?pageNo=1\nconst buf = Buffer.from(msg.payload.buffer);\n\nvar col = {\n    topic: \"seCal\",\n    payload: [\n        { k: 'dc_Power', v: round(float(62836)*(-1) / 1000, 2) }\n    ]\n}\ncol.payload[1] = { k: 'ac_Power', v: round(col.payload[0].v * (0.91), 2) }\n\nreturn col;\n\nfunction word(address) {\n    // Find the correct offset in bytes\n    // 40070 is the starting address we fetch from SolarEdge inverter\n    return (address - 62836) * 2;\n}\n\nfunction scalefactor(address) {\n    return Math.pow(10, buf.readInt16BE(word(address)));\n}\n\nfunction int16(address) {\n    return buf.readInt16BE(word(address))\n}\n\nfunction uint16(address) {\n    return buf.readUInt16BE(word(address));\n}\n\nfunction int32(address) {\n    return buf.readInt32BE(word(address))\n}\n\nfunction uint32(address) {\n    return buf.readUInt32BE(word(address))\n}\n\nfunction float(address) {\n    var tbuf = buf.subarray(word(address), 4);\n    var tbuf2 = tbuf.swap16().swap32();\n\n   return tbuf2.readFloatBE(0);\n}\n\nfunction round(value, decimals) {\n return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "6b36142e053cb40f",
                "a9ea0b2b829e8135"
            ]
        ]
    },
    {
        "id": "6b36142e053cb40f",
        "type": "split",
        "z": "16d854753ce10409",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "0e61a3c4d942e5ce"
            ]
        ]
    },
    {
        "id": "0e61a3c4d942e5ce",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: msg.payload.k,\n    payload:\n        [{\n            // fields\n            value: msg.payload.v,\n        },\n        {\n            // tags\n            vendor: \"BYD\",\n            group: \"pv\",\n            location: \"basement\",\n            type: \"battery\",\n            instance: 1\n        }]\n}\n\nif(msg.payload.k == \"chargeState\") {\n    var cmMode = \"Off\";\n    if (msg.payload.v === 3) { cmMode = \"Charge\" }\n    if (msg.payload.v === 4) { cmMode = \"Discharge\" }\n    if (msg.payload.v === 6) { cmMode = \"Cons-Charging\" }\n    inMsg.payload[1][\"valueN\"] = cmMode;\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 300,
        "wires": [
            [
                "38413cfbad00b12d"
            ]
        ]
    },
    {
        "id": "a9ea0b2b829e8135",
        "type": "debug",
        "z": "16d854753ce10409",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "defe7e798dc09814",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "mod -> JSON",
        "func": "// Create new Buffer based on array bytes\n// source https://www.photovoltaikforum.com/thread/120980-akkustand-per-modbus-tcp-auslesen-solaredge-lg-resu-10h/?pageNo=1\nconst buf = Buffer.from(msg.payload.buffer);\n\nvar col = {\n    topic: \"seCal\",\n    payload: [\n        { k: 'soc', v: float(62852) },\n        { k: 'chargeState', v: uint16(62854) }\n    ]\n}\n\nreturn col;\n\nfunction word(address) {\n    // Find the correct offset in bytes\n    // 40070 is the starting address we fetch from SolarEdge inverter\n    return (address - 62852) * 2;\n}\n\nfunction scalefactor(address) {\n    return Math.pow(10, buf.readInt16BE(word(address)));\n}\n\nfunction int16(address) {\n    return buf.readInt16BE(word(address))\n}\n\nfunction uint16(address) {\n    return buf.readUInt16BE(word(address));\n}\n\nfunction int32(address) {\n    return buf.readInt32BE(word(address))\n}\n\nfunction uint32(address) {\n    return buf.readUInt32BE(word(address))\n}\n\nfunction float(address) {\n    var tbuf = buf.subarray(word(address), 4);\n    var tbuf2 = tbuf.swap16().swap32();\n\n   return tbuf2.readFloatBE(0);\n}\n\nfunction round(value, decimals) {\n return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 360,
        "wires": [
            [
                "840dbd4718747fd4"
            ]
        ]
    },
    {
        "id": "840dbd4718747fd4",
        "type": "split",
        "z": "16d854753ce10409",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "0e61a3c4d942e5ce"
            ]
        ]
    },
    {
        "id": "aa1ead1055651f2c",
        "type": "comment",
        "z": "16d854753ce10409",
        "name": "Calculate roof : I_DC_Power and I_AC_Power",
        "info": "",
        "x": 210,
        "y": 680,
        "wires": []
    },
    {
        "id": "3af79f53487d97e8",
        "type": "influxdb in",
        "z": "16d854753ce10409",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "query": "s1 = from(bucket: \"powerMan\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"ac_PowerReal\")\n  |> filter(fn: (r) => r[\"instance\"] == \"1\")\n  |> filter(fn: (r) => r[\"type\"] == \"inverter\")\n  |> last()\n\n  s2 = from(bucket: \"powerMan\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"ac_Power\")\n  |> filter(fn: (r) => r[\"instance\"] == \"1\")\n  |> filter(fn: (r) => r[\"type\"] == \"battery\")\n  |> last()\n\n  union(tables: [s1,s2])",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 390,
        "y": 720,
        "wires": [
            [
                "7afaf5cfa7e4c6b1"
            ]
        ]
    },
    {
        "id": "2f7cd462606a9668",
        "type": "inject",
        "z": "16d854753ce10409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "3af79f53487d97e8"
            ]
        ]
    },
    {
        "id": "07bc32a82bd10b6f",
        "type": "debug",
        "z": "16d854753ce10409",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 640,
        "wires": []
    },
    {
        "id": "7afaf5cfa7e4c6b1",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "Calc solar power i_DC_Power",
        "func": "var bat_AC_Power = msg.payload.find(i => i._measurement == \"ac_Power\");\nvar i_AC_PowerReal = msg.payload.find(i => i._measurement == \"ac_PowerReal\");\n\nvar i_AC_Power = round(i_AC_PowerReal._value - bat_AC_Power._value, 2);\nvar i_DC_Power = round(i_AC_Power*1.08, 2);\n\nvar col = {\n    topic: \"seCal\",\n    payload: [\n        { k: 'ac_Power', v: i_AC_Power },\n        { k: 'dc_Power', v: i_DC_Power }\n    ]\n}\n\nreturn col;\n\nfunction round(value, decimals) {\n    return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "ece68521d44e59f0"
            ]
        ]
    },
    {
        "id": "4505aeca478f263d",
        "type": "influxdb out",
        "z": "16d854753ce10409",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "stHome",
        "bucket": "powerMan",
        "x": 1390,
        "y": 720,
        "wires": []
    },
    {
        "id": "9b137f730ca8c370",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: msg.payload.k,\n    payload:\n        [{\n            // fields\n            value: msg.payload.v,\n        },\n        {\n            // tags\n            vendor: \"solaredge\",\n            group: \"pv\",\n            location: \"roof\",\n            type: \"inverter\",\n            instance: 1\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 720,
        "wires": [
            [
                "4505aeca478f263d",
                "07bc32a82bd10b6f"
            ]
        ]
    },
    {
        "id": "ece68521d44e59f0",
        "type": "split",
        "z": "16d854753ce10409",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 910,
        "y": 720,
        "wires": [
            [
                "9b137f730ca8c370"
            ]
        ]
    },
    {
        "id": "e3a479f13f237931",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "Transform",
        "func": "var inMsg = {\n    measurement: msg.payload.k,\n    payload:\n        [{\n            // fields\n            value: msg.payload.v,\n        },\n        {\n            // tags\n            vendor: \"solaredge\",\n            group: \"evu\",\n            location: \"basement\",\n            type: \"evu-meter\",\n            instance: 1\n        }]\n}\n\nreturn inMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 220,
        "wires": [
            [
                "38413cfbad00b12d"
            ]
        ]
    },
    {
        "id": "d4baa9bd90cdbbba",
        "type": "catch",
        "z": "16d854753ce10409",
        "name": "",
        "scope": [
            "49429e0d.b198d",
            "ce1bef37409bf886",
            "621e46aa9130767c",
            "7092266835921eab"
        ],
        "uncaught": false,
        "x": 90,
        "y": 860,
        "wires": [
            [
                "e5adb74a0a4ba432"
            ]
        ]
    },
    {
        "id": "e5adb74a0a4ba432",
        "type": "debug",
        "z": "16d854753ce10409",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 860,
        "wires": []
    },
    {
        "id": "52201ce2af035752",
        "type": "comment",
        "z": "16d854753ce10409",
        "name": "Catch WR1 & WR2",
        "info": "",
        "x": 130,
        "y": 820,
        "wires": []
    },
    {
        "id": "7cc25a30955b0867",
        "type": "inject",
        "z": "16d854753ce10409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "17",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "0d9bc0570abe2ce9"
            ]
        ]
    },
    {
        "id": "0d9bc0570abe2ce9",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "function 4",
        "func": "msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 40083, 'quantity': 20 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "0fd6783b8f14b9b7"
            ]
        ]
    },
    {
        "id": "0fd6783b8f14b9b7",
        "type": "modbus-flex-getter",
        "z": "16d854753ce10409",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "78b1c87b.391bc8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 160,
        "wires": [
            [],
            [
                "6602d1b7.b24d78"
            ]
        ]
    },
    {
        "id": "fba9e079cc7edd3a",
        "type": "inject",
        "z": "16d854753ce10409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "19",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "72395258fc6d8d2e"
            ]
        ]
    },
    {
        "id": "72395258fc6d8d2e",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "function 5",
        "func": "msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 40190, 'quantity': 40 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "0812cf39a11ea6e7"
            ]
        ]
    },
    {
        "id": "0812cf39a11ea6e7",
        "type": "modbus-flex-getter",
        "z": "16d854753ce10409",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "78b1c87b.391bc8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 220,
        "wires": [
            [],
            [
                "a987abfaf067f0d7"
            ]
        ]
    },
    {
        "id": "58f0dc74ac89f8fd",
        "type": "inject",
        "z": "16d854753ce10409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "21",
        "crontab": "",
        "once": true,
        "onceDelay": "0.4",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "b52624251e2b1aee"
            ]
        ]
    },
    {
        "id": "b52624251e2b1aee",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "function 6",
        "func": "msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 62836, 'quantity': 2 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "a80974420ecac515"
            ]
        ]
    },
    {
        "id": "a80974420ecac515",
        "type": "modbus-flex-getter",
        "z": "16d854753ce10409",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "78b1c87b.391bc8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 300,
        "wires": [
            [],
            [
                "f5bd18124162dace"
            ]
        ]
    },
    {
        "id": "415f8591239dafc6",
        "type": "inject",
        "z": "16d854753ce10409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "b1af57428bb2b57a"
            ]
        ]
    },
    {
        "id": "b1af57428bb2b57a",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "function 7",
        "func": "msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 62852, 'quantity': 4 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 360,
        "wires": [
            [
                "91531eb9c95fd38c"
            ]
        ]
    },
    {
        "id": "91531eb9c95fd38c",
        "type": "modbus-flex-getter",
        "z": "16d854753ce10409",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "78b1c87b.391bc8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 360,
        "wires": [
            [],
            [
                "defe7e798dc09814"
            ]
        ]
    },
    {
        "id": "50b1e45fca7f7952",
        "type": "inject",
        "z": "16d854753ce10409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "80c3f25763f2418a"
            ]
        ]
    },
    {
        "id": "80c3f25763f2418a",
        "type": "function",
        "z": "16d854753ce10409",
        "name": "function 8",
        "func": "msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 40083, 'quantity': 20 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 560,
        "wires": [
            [
                "43a8a049e9bdab1b"
            ]
        ]
    },
    {
        "id": "43a8a049e9bdab1b",
        "type": "modbus-flex-getter",
        "z": "16d854753ce10409",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "7e9912ee.546204",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 560,
        "wires": [
            [],
            [
                "33449a937d186c07"
            ]
        ]
    },
    {
        "id": "d5a3537652f8eb92",
        "type": "function",
        "z": "4a8d304c950302af",
        "name": "hue trg switch/dimmer",
        "func": "var inMsg = {\n    measurement: \"light\",\n    payload :\n    [{\n// fields\n        value: msg.updated.payload.on,\n        level: msg.updated.payload.brightness,\n        color: msg.updated.payload.hex, \n    },\n    {\n// tags\n      name : msg.updated.info.name,\n      type: \"single\"\n    }]\n}\n\nvar trg = {\n    topic: \"hue/trigger/light\",\n    payload: \"light\",\n    type : \"trigger\"\n}\nreturn [inMsg, trg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "14ee93b6d83f0991",
                "515e94a47a9fad21"
            ],
            [
                "b28a64c39a1627a5"
            ]
        ]
    },
    {
        "id": "14ee93b6d83f0991",
        "type": "debug",
        "z": "4a8d304c950302af",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "515e94a47a9fad21",
        "type": "influxdb out",
        "z": "4a8d304c950302af",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "stHome",
        "bucket": "hue",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "38a650f24f631a88",
        "type": "comment",
        "z": "4a8d304c950302af",
        "name": "Trigger Light",
        "info": "",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "b28a64c39a1627a5",
        "type": "delay",
        "z": "4a8d304c950302af",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "a4023e90a64e5bc7"
            ]
        ]
    },
    {
        "id": "b93ae83ab08081c2",
        "type": "debug",
        "z": "4a8d304c950302af",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "12e9d428f0563db7",
        "type": "hue-bridge-node",
        "z": "4a8d304c950302af",
        "name": "Hue Bridge",
        "bridge": "f08c81db3cddc150",
        "autoupdates": false,
        "skipglobalevents": false,
        "initevents": false,
        "x": 95,
        "y": 180,
        "wires": [
            [
                "b93ae83ab08081c2",
                "8633130ff99ad5b9"
            ]
        ],
        "l": false
    },
    {
        "id": "8633130ff99ad5b9",
        "type": "switch",
        "z": "4a8d304c950302af",
        "name": "",
        "property": "updated.info.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "d5a3537652f8eb92"
            ]
        ]
    },
    {
        "id": "a4023e90a64e5bc7",
        "type": "link out",
        "z": "4a8d304c950302af",
        "name": "hue_trg_lights",
        "mode": "link",
        "links": [
            "0e0c74ac285ea27d",
            "333d718cbce7c275",
            "8152d9ede302e0de"
        ],
        "x": 1235,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e0c74ac285ea27d",
        "type": "link in",
        "z": "4a8d304c950302af",
        "name": "link in 4",
        "links": [
            "a4023e90a64e5bc7"
        ],
        "x": 85,
        "y": 520,
        "wires": [
            [
                "2252212dae9d3a31"
            ]
        ]
    },
    {
        "id": "5efbbe751b5dbe10",
        "type": "influxdb in",
        "z": "4a8d304c950302af",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "query": "from(bucket: \"hue\")\n  |> range(start: -7d)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"light\")\n  |> filter(fn: (r) => r[\"name\"] == \"00-Wohn-L02\" or r[\"name\"] == \"00-Wohn-L03\" or r[\"name\"] == \"00-Wohn-L04\" or r[\"name\"] == \"00-Wohn-L05\")\n  |> pivot(rowKey:[\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")\n  |> last(column: \"name\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "464c938f92bc2dca"
            ]
        ]
    },
    {
        "id": "dd0d05b98bd54ba4",
        "type": "comment",
        "z": "4a8d304c950302af",
        "name": "Group: 00-Wohn",
        "info": "",
        "x": 140,
        "y": 460,
        "wires": []
    },
    {
        "id": "f3cc59d9f8eee801",
        "type": "function",
        "z": "4a8d304c950302af",
        "name": "Trans to Group",
        "func": "let status = false;\nlet levelA = 0;\nlet color = 0;\nlet indexLength = msg.payload.length;\n\nmsg.payload.forEach((e) => {\n\n    if(e.value == true)\n    {\n        status = true;\n    }\n    \n    color = e.color;\n    levelA += e.level;\n})\n\nlevelA = levelA / indexLength;\n\nvar inMsg = {\n    measurement: \"light\",\n    payload:\n        [{\n            // fields\n            value: status,\n            level: levelA,\n            color: color,\n        },\n        {\n            // tags\n            name: msg.groupName,\n            type: \"group\"\n        }]\n}\n\nvar trg = {\n    topic: \"hue/trigger/light\",\n    payload: \"light\",\n    type: \"trigger_group\"\n}\nreturn [inMsg, trg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 520,
        "wires": [
            [
                "0dd45f60c17a3636",
                "2e57962eb7d35bc3"
            ],
            [
                "67ee7350a2e8311a"
            ]
        ]
    },
    {
        "id": "0dd45f60c17a3636",
        "type": "debug",
        "z": "4a8d304c950302af",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 480,
        "wires": []
    },
    {
        "id": "2e57962eb7d35bc3",
        "type": "influxdb out",
        "z": "4a8d304c950302af",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "stHome",
        "bucket": "hue",
        "x": 1410,
        "y": 520,
        "wires": []
    },
    {
        "id": "5a8613ae86b8c2de",
        "type": "inject",
        "z": "4a8d304c950302af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 580,
        "wires": [
            [
                "5efbbe751b5dbe10"
            ]
        ]
    },
    {
        "id": "2252212dae9d3a31",
        "type": "delay",
        "z": "4a8d304c950302af",
        "name": "",
        "pauseType": "delay",
        "timeout": "800",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 520,
        "wires": [
            [
                "5efbbe751b5dbe10"
            ]
        ]
    },
    {
        "id": "a9d78430f4e6de44",
        "type": "comment",
        "z": "4a8d304c950302af",
        "name": "Trigger Light",
        "info": "",
        "x": 1370,
        "y": 600,
        "wires": []
    },
    {
        "id": "67ee7350a2e8311a",
        "type": "delay",
        "z": "4a8d304c950302af",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1420,
        "y": 640,
        "wires": [
            [
                "f6e0cdc821022ed9"
            ]
        ]
    },
    {
        "id": "f6e0cdc821022ed9",
        "type": "link out",
        "z": "4a8d304c950302af",
        "name": "hue_trg_lights_group",
        "mode": "link",
        "links": [
            "4254b51be531da74"
        ],
        "x": 1675,
        "y": 640,
        "wires": []
    },
    {
        "id": "333d718cbce7c275",
        "type": "link in",
        "z": "4a8d304c950302af",
        "name": "link in 5",
        "links": [
            "a4023e90a64e5bc7"
        ],
        "x": 85,
        "y": 760,
        "wires": [
            [
                "5a83ac540b094307"
            ]
        ]
    },
    {
        "id": "140cb53f78269cda",
        "type": "influxdb in",
        "z": "4a8d304c950302af",
        "influxdb": "1e1a0e45bfb2abe0",
        "name": "",
        "query": "from(bucket: \"hue\")\n  |> range(start: -7d)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"light\")\n  |> filter(fn: (r) => r[\"name\"] == \"01-Bad-Decke\" or r[\"name\"] == \"01-Bad-L01\")\n  |> pivot(rowKey:[\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")\n  |> last(column: \"name\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "stHome",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "ec689c97884f0154"
            ]
        ]
    },
    {
        "id": "898198e071c26e17",
        "type": "comment",
        "z": "4a8d304c950302af",
        "name": "Group: 00-Bad",
        "info": "",
        "x": 140,
        "y": 700,
        "wires": []
    },
    {
        "id": "a853e0cd8bdd2536",
        "type": "inject",
        "z": "4a8d304c950302af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "140cb53f78269cda"
            ]
        ]
    },
    {
        "id": "5a83ac540b094307",
        "type": "delay",
        "z": "4a8d304c950302af",
        "name": "",
        "pauseType": "delay",
        "timeout": "800",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 760,
        "wires": [
            [
                "140cb53f78269cda"
            ]
        ]
    },
    {
        "id": "ec689c97884f0154",
        "type": "change",
        "z": "4a8d304c950302af",
        "name": "01-Bad",
        "rules": [
            {
                "t": "set",
                "p": "groupName",
                "pt": "msg",
                "to": "01-Bad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 760,
        "wires": [
            [
                "f3cc59d9f8eee801"
            ]
        ]
    },
    {
        "id": "464c938f92bc2dca",
        "type": "change",
        "z": "4a8d304c950302af",
        "name": "00-Wohn",
        "rules": [
            {
                "t": "set",
                "p": "groupName",
                "pt": "msg",
                "to": "00-Wohn",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 520,
        "wires": [
            [
                "f3cc59d9f8eee801"
            ]
        ]
    },
    {
        "id": "eade5cf0ecb82c64",
        "type": "hue-bridge-node",
        "z": "4a8d304c950302af",
        "name": "",
        "bridge": "f08c81db3cddc150",
        "autoupdates": true,
        "skipglobalevents": false,
        "initevents": false,
        "x": 570,
        "y": 960,
        "wires": [
            [
                "f4be7422fad94d93"
            ]
        ]
    },
    {
        "id": "3b8a7478283fd351",
        "type": "inject",
        "z": "4a8d304c950302af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "e3c0d5bbc15f995a"
            ]
        ]
    },
    {
        "id": "f4be7422fad94d93",
        "type": "debug",
        "z": "4a8d304c950302af",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 960,
        "wires": []
    },
    {
        "id": "e3c0d5bbc15f995a",
        "type": "function",
        "z": "4a8d304c950302af",
        "name": "function 9",
        "func": "return { payload : { fetch : \"group\" }}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 960,
        "wires": [
            [
                "eade5cf0ecb82c64"
            ]
        ]
    }
]